@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
header .main_header {
  margin-top: 60px;
  height: 460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .main_header_inner {
  text-align: center;
}

header .main_header_inner_top {
  font-size: 60px;
  text-transform: uppercase;
  line-height: 54px;
  margin-bottom: 21px;
}

header .main_header_inner_top .h1_last {
  border-bottom: 11px solid #f52828;
  display: inline-block;
  padding-bottom: 5px;
}

header .main_header_inner_middle {
  font-size: 24px;
  margin-bottom: 30px;
}

header .main_header_inner_bottom .signup_button {
  border: none;
  outline: none;
  background: #f52828;
  color: #ffffff;
  font-size: 16px;
  line-height: 3.5;
  padding: 0 32px;
  white-space: nowrap;
  border-radius: 6px;
}

nav {
  height: 60px;
  width: 100vw;
  z-index: 99;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

nav .edit_nav {
  text-decoration: underline !important;
}

nav .nav_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

nav .logo_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo_container .logo {
  height: 33px;
}

nav .logo_container .logo img {
  height: 100%;
}

nav .main_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .main_nav .bookmark_nav {
  height: 27px;
  width: 27px;
}

nav .main_nav .bookmark_nav div {
  height: 100%;
}

nav .main_nav .bookmark_nav img {
  width: 100%;
  height: 100%;
}

nav .main_nav button {
  border: none;
  position: relative;
  outline: none;
}

nav .main_nav .svg {
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 20px;
  height: 20px;
  margin: 0 12px;
}

nav .main_nav .svg img {
  width: 100%;
}

nav .main_nav li {
  list-style: none;
  margin: 0 10px;
}

nav .main_nav li a {
  text-decoration: none;
}

nav .main_nav li .search_input {
  height: 44px;
  padding: 5px 12px;
  padding-left: 42px;
  background: #f7f7f7;
  border: none;
  font-size: 16px;
}

nav .main_nav li .search_input:focus {
  outline: none;
}

nav.admin {
  background-color: #282828;
  color: #ffffff;
}

nav.admin a {
  color: #ffffff;
}

.news_content_inner .news_nav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #999999;
  padding-bottom: 21px;
}

.news_content_inner .news_nav a {
  font-weight: bold;
  font-size: 18px;
  color: #999999;
  text-transform: uppercase;
}

.news_content_inner .news_nav .active {
  color: #262626;
}

.news_content_inner .articles {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.news_content_inner .articles .article {
  width: calc(33.33% - 16.9px);
  margin-right: 25px;
  background: white;
  border-bottom: 1px solid #999999;
  padding-bottom: 10px;
  margin-top: 80px;
}

.news_content_inner .articles .article:nth-child(3n + 3) {
  margin-right: 0;
}

.news_content_inner .articles .article_top {
  height: 420px;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
}

.news_content_inner .articles .article_top .article_title {
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px;
  font-weight: bold;
}

.news_content_inner .articles .article_top .article_title a {
  z-index: 88;
  color: #ffffff;
}

.news_content_inner .articles .article_bottom {
  margin-top: 13px;
}

.news_content_inner .articles .article_bottom .article_author {
  margin-bottom: 30px;
}

.news_content_inner .articles .article_bottom .article_func {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 5px;
}

.news_content_inner .articles .article_bottom .article_func .article_fav,
.news_content_inner .articles .article_bottom .article_func .article_share {
  width: 25px;
  height: 25px;
}

.news_content_inner .articles .article_bottom .article_func .article_fav img,
.news_content_inner .articles .article_bottom .article_func .article_share img {
  width: 100%;
  height: 100%;
}

.news_content_inner .articles .article_bottom .article_func .article_share {
  margin-left: 20px;
}

.news_content_inner .articles .article_bottom .article_func i {
  color: #999999;
  font-size: 1.6rem;
}

.news_content_inner .article_read_wrapper {
  text-align: center;
  margin: 20px;
}

.news_content_inner .article_read {
  background: #f52828;
  border: none;
  outline: none;
  padding: 10px 12px;
  color: #ffffff;
  border-radius: 4px;
}

.news_content_inner .article_read a,
.news_content_inner .article_read a:hover,
.news_content_inner .article_read a:visited,
.news_content_inner .article_read a:focus {
  color: #ffffff;
}

.single {
  overflow-y: auto;
}

.single_post {
  margin-top: 150px;
}

.single_post_top_author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.single_post_top_author .author_image {
  width: 40px;
  margin-right: 10px;
}

.single_post_top_author .author_image img {
  width: 100%;
}

.single_post_bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.single_post_bottom_content {
  width: 70%;
}

.single_post_bottom_content .spb_image img {
  width: 100%;
  max-height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.single_post_bottom .widgets {
  padding: 0 15px;
  width: 30%;
}

.single_post_bottom .widgets li {
  margin: 8px 0;
  font-size: 1.1rem;
}

.single_post_bottom .widgets li a {
  text-decoration: underline;
}

.comment {
  margin-top: 70px;
}

.comment_display {
  margin-top: 50px;
}

.comment_display_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.comment_display_left .img-wrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.comment_display_left .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment_display_right .each_comment {
  font-size: 16px;
}

.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.admin_left {
  width: 180px;
  height: 100vh;
  background: #262626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.admin_left_inner .admin_options .admin_option {
  margin: 15px 0;
}

.admin_left_inner .admin_options .admin_option a {
  color: #ffffff;
}

.admin_right {
  width: calc(100% - 180px);
}

table {
  text-align: center;
  background: #ffffff;
  border-collapse: collapse;
  width: 80%;
  max-width: 900px;
}

table th {
  background: #f52828;
  color: #ffffff;
  padding: 8px 0;
  text-transform: uppercase;
}

table td {
  padding: 12px 0;
}

.post_search_page {
  margin-top: 100px !important;
}

.post_search_page a,
.post_search_page a:visited,
.post_search_page a:hover,
.post_search_page a:active {
  color: #262626;
}

.post_search_page a:hover > .post_search {
  opacity: 0.6;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.post_search_page .post_list {
  margin-bottom: 50px;
}

.post_search_page .post_list .post_search {
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.post_search_page .post_list .post_search_left .img_wrapper {
  width: 220px;
  height: 220px;
  margin-right: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.post_search_page .post_list .post_search_left .img_wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.post_search_page .post_list .post_search_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post_search_page .post_list .post_search_right .category {
  color: #f52828;
  margin-bottom: 10px;
}

.post_search_page .post_list .post_search_right .title {
  font-size: 42px;
  font-weight: 600;
  line-height: 2.8rem;
  margin-bottom: 10px;
}

.user_profile {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user_profile_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user_profile_inner form div {
  margin: 10px 0;
}

.user_profile_inner form .profile_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user_profile_inner form .image_wrapper {
  width: 140px;
  height: 140px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: 0 0 1px black;
          box-shadow: 0 0 1px black;
}

.user_profile_inner form .image_wrapper .avator {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user_profile_inner form .image_edit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user_profile_inner form .image_edit img {
  width: 22px;
}

.user_profile_inner label {
  display: inline-block;
  margin-bottom: 5px;
}

.user_profile_inner input[type="text"],
.user_profile_inner input[type="email"] {
  border: none;
  padding-bottom: 10px;
  border-bottom: 1px solid #262626;
  font-size: 1.3rem;
}

.user_profile_inner input[type="text"]:focus,
.user_profile_inner input[type="email"]:focus {
  outline: none;
}

.user_profile_inner input[type="submit"] {
  margin-top: 20px;
  width: 100%;
  padding: 10px 0;
  background: #f52828;
  color: #ffffff;
  outline: none;
  border: none;
}

.bookmark_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.bookmark_modal .modal_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bookmark_modal .modal_wrapper .modal_content {
  z-index: 99;
  width: 400px;
  background: white;
  padding: 16px;
}

.bookmark_modal .modal_wrapper .modal_content h3 {
  font-size: 22px;
  margin-bottom: 16px;
}

.bookmark_modal .bookmark_shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.bookmark_modal.display {
  display: block;
}

.url_modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}

.url_modal .modal_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.url_modal .modal_wrapper .modal_content {
  z-index: 99;
  width: 400px;
  background: white;
  padding: 16px;
}

.url_modal .modal_wrapper .modal_content h3 {
  font-size: 22px;
  margin-bottom: 16px;
}

.url_modal .modal_wrapper .modal_content p {
  margin: 0 0 10px 0;
}

.url_modal .modal_wrapper .modal_content .copy_button {
  cursor: pointer;
}

.url_modal .url_shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
}

.url_modal.display {
  display: block;
}

.url_insert {
  display: inline-block;
}

.url_insert.action {
  -webkit-animation: urlInsert 0.7s ease;
          animation: urlInsert 0.7s ease;
}

@-webkit-keyframes urlInsert {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes urlInsert {
  from {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: #262626;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

.flex_ai_c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.alert {
  color: red;
}

.indent {
  padding-left: 10px;
}

.auth_set {
  margin-top: 150px;
}
/*# sourceMappingURL=main.css.map */